body {
    margin : 0;
    overflow: hidden;
}

@font-face {
    font-family: 'Blazma';
    src: url('/fonts/Blazma-Regular.woff2');
}

#join-game-field {
    font-family: 'Blazma', sans-serif;
    font-size: 62px; 
    width: 400px; 
    height: 50px; 
    border-radius: 25px; 
    padding: 10px; 
    text-align: center; 
    background-color: #FFFFFF;
}